.table-container {
  height: 80vh;
  font-size: 1.8em;
}

.sub {
  width: 4em;
}

@media (max-width: 1400px) {
  .table-container {
    font-size: 1.6em;
  }

  .sub {
    width: 3.5em;
  }
}

@media (max-width: 1200px) {
  .table-container {
    font-size: 1.5em;
  }

  .sub {
    width: 3.3em;
  }
}

.NOME {
  width: 20em;
  &.head {
    text-align: center;
  }
}

.table {
  border-collapse: collapse;
  font-weight: 400;
  border-radius: 5px;
  margin: 0 auto;
  &--head {
    position: sticky;
    tr th {
      padding: 10px 0;
      background-color: rgb(34, 53, 70);
      color: #eee;
      font-weight: 300;
      text-shadow: 0px 0px 2px #eee;
    }
  }

  &--body {
    overflow-y: auto;
    height: 75vh;

    tr {
      border-bottom: solid 2px #333;

      &:nth-last-of-type(odd) {
        background-color: #f7f7f7;
      }

      &:hover {
        border-bottom: solid 2px rgb(24, 124, 255);
        color: rgb(1, 70, 160);
        text-shadow: 0px 2px 3px #2222;
      }

      transition: all 0.5s;
    }
  }
}

table {
  thead,
  tbody,
  tfoot {
    display: block;
  }
}
