.options-container {
  font-size: 2em;
  margin-bottom: 15px;

  h1 {
    text-align: center;
    font-weight: 300;
    font-size: 2.5em;
    margin: 5px 0 15px 0;
  }
}

.options {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  font-weight: 400;

  .option select {
    margin: 0 10px;
    padding: 0 5px;
    border-radius: 3px;

    font-size: inherit;
    font-family: inherit;
  }
}
