HTML {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 62.5%;
  color: #444;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Light.ttf");
  font-weight: 300;
}

@font-face {
  font-family: "Lato";
  src: url("./assets/fonts/Lato-Regular.ttf");
  font-weight: 400;
}

body {
  margin: 0;
  font-family: "Lato";
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
