.minutes-container {
  margin-top: 9rem;
  overflow: auto;

  .minutes-generator {
    max-width: 800px;
    margin: 0 auto 5rem auto;
    font-size: 2.5rem;
    font-weight: 400;

    label {
      display: block;
      padding: 1rem 0;
    }

    input {
      display: block;
      width: 100%;
      border-radius: 5px;
      padding: 0.8rem;
      font-size: 2rem;
    }

    button {
      display: block;
      margin: 3rem auto;
      font-size: 2.5rem;
      padding: 1rem 3rem;
      border-radius: 10rem;
      border: none;
      background: #eb7100;
      color: #fff;
      cursor: pointer;
      transition: all 0.2s;
      -webkit-transform-style: preserve-3d;
      transform-style: preserve-3d;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;

      &:hover {
        transform: scale(1.02);
        background: #f67d0b;
      }

      &:active {
        transform: scale(1);
      }
    }
  }

  .minutes {
    border-radius: 5px;
    max-width: 1200px;
    margin: 5rem auto 0 auto;
    background: #223546;
    color: #fff;
    overflow: auto;

    & h2 {
      text-align: center;
      font-size: 6rem;
      font-weight: 100;
      margin-top: 3rem;
    }
  }
}
